<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Discuter avec un bot</h1>
    
    <p>
        <label for="entree">Message : </label><input type="text" id="entree" name="entree">
        <button id="send">Envoyer !</button>
    </p>
    <p>
        <label for="sortie">Réponse : </label><span type="text" id="sortie" name="sortie">
    </p>
    <script>const id = <%=id %> </script>
    <script src="/public/js/discuter.js"></script>
    
</body>

</html>