<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Créer un bot</h1>
    <label for="nom">Nom du bot : </label><input type="text" id="nom" name="nom">
    <button id="send">Envoyer !</button>
    <script src="/public/js/creer.js"></script>
</body>

</html>