<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/public/js/afficher.js"></script>
</head>

<body>
    <h1>Liste des bots</h1>
    <table id="tableau">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nom
            </th>
        </tr>
    </table>
</body>

</html>