<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Modification</h1>
    <label for="nom">Nom du bot : </label><input type="text" id="nom" name="nom">
    <button id="add">Ajouter accès discord</button>
    <button id="remove">Enlever accès discord</button>
    <button id="send">Terminé !</button>
    <script>
        const idBot = <%= id %>
    </script>
    <script src="/public/js/modifier.js"></script>
</body>

</html>